<!DOCTYPE html>
<html>
  <head>
    <title>Classifier</title>
    <script type="text/javascript" src="../static/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
  </head>
  <body>
    <a href="#" class="button" id="btn-d">Check</a>
    <p class="demoToolList">Clear the digit: <button id="clearCanvasSimple" type="button">Clear</button></p>
    <div id="canvasSimpleDiv">
    </div>
    <p> value is {{ans}}</p>
     <script type="text/javascript" src="../static/html5-canvas-drawing-app.js"></script>
    <script type="text/javascript"> $(document).ready(function() {
    	 prepareSimpleCanvas();
});</script>
  </body>
</html>